#signup-container {
    margin: 20px auto;
    width: 100%;
    max-width: 380px;
    /* margin-bottom: auto; */
}

.h-box {
    width: 100%;
}

.h-box div {
    display: flex;
}

/* .h-box:has(div:only-child) {
    display: block;
} */

#login-div {
    margin: 10px auto;
    width: 100%;
    max-width: 380px;
}