.col-md-6 {
    float: left;
    width: 50%;
    }
    
.row:after {
    content: "";
    display: table;
    clear: both;
}
* {
    box-sizing: border-box;
}

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    max-width: 350px;
    width: calc(100% - 2em);
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em 0.8em 0.8em 0;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #333;
    /* font-weight: bold; */
    font-family: 'lato', sans-serif;
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    padding: 0 1em;
    width: 40%;
    color: #6a7989;
    /* font-weight: bold; */
    font-size: 90.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}


/* Hoshi */
.input--hoshi {
    overflow: hidden;
    max-width: none;
    width: 100%;
    font-family: 'lato', sans-serif;
}

.input__field--hoshi {
    margin-top: 1em;
    padding: 1.5em 0.15em 1.5em 0;
    width: 100%;
    background: transparent;
    color: #595F6E;
}

.input__label--hoshi {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: calc(100% - 1em);
    text-align: left;
    pointer-events: none;
    font-family: 'lato', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    color: #999;
    letter-spacing: 0.12em;
}

.input__label-content--hoshi {
    position: absolute;
}

.input__label--hoshi::before,
.input__label--hoshi::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 10px);
    border-bottom: 1px solid #e0e0e0;
    
}

.input__label--hoshi::after {
    margin-top: 1.5px;
    border-bottom: 2px solid red;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input__label--hoshi-color-3::after {
    border-color: hsl(0, 98%, 68%);
}

.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.input__field--hoshi + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
    -webkit-animation: anim-1 0.3s forwards;
    animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0);
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -40%, 0);
        transform: translate3d(-1em, -40%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -40%, 0);
        transform: translate3d(0, -40%, 0);
    }
}

@keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0);
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -40%, 0);
        transform: translate3d(-1em, -40%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -40%, 0);
        transform: translate3d(0, -40%, 0);
    }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #fff;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;

}
.img-rounded {
  border-radius: 6px;
}

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

.right-side {
  position: relative;
  padding: 50px 120px 100px 120px;
  height: 100vh;
  background: #fff;
}

.right-side .input {
  margin-top: 0;
  margin-left: 0;
}
.right-side .input input {
  font-size: 14px;
}
.right-side .cta {
  margin-top: 40px;
}
.right-side .cta .btn {
  padding: 13px 25px;
  border: none;
  color: #fff;
  display: inline-block;
  background: #ff5500;
  font-family: 'lato', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.12em;
  border-radius: 24px;
}
.right-side .cta .btn:hover {
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  background: #ff3f00;
}
.right-side .cta span {
  margin-top: 10px;
  margin-left: 30px;
  display: inline-block;
}
.right-side .cta span a {
  font-family: 'lato', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  color: #999;
  letter-spacing: 0.1em;
}

input[type=radio] {
  visibility: hidden;
}

label.radio {
    cursor: pointer;
  text-indent: 35px;
  overflow: visible;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
  color:#999;
}

input[type=radio]:checked + label:after {
    opacity: 1;
}

label.radio:before {
  background: #ff5500;
  content:'';
  position: absolute;
  top:2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

label.radio:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 0.5em;
    height: 0.25em;
    background: transparent;
    top: 7.5px;
    left: 4.5px;
    border: 3px solid #ffffff;
    border-top: none;
    border-right: none;
    

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type=radio]:checked + label:after {
    opacity: 1;
}
.gender {
  margin-left: -300px;
  margin-bottom: 30px;

}

/* .right>div:last-child{
    display:none;
} */

