.profile-fields {
    margin: 20px auto;
    width: 100%;
    /* height: auto;
    max-width: 400px; */
    background-color: rgba(240, 240, 240, 0.9);
    border-radius: 10px;
    padding: 10px;
}

.main-employee {
    display: flex;
    width: 100%;
    min-height: 100vh;
    
    background-image: url("../../assets/profile/employee-profile-img.JPG");
    background-size: cover;
    background-position: center;
    overflow: hidden;

    justify-content: center;
}

.hBox {
    
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    
    margin: 20px auto;
}

.title {
    font-family: 'lato', sans-serif;
    font-size: 20px;
}


