.main-doctor {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-image: url("../../assets/profile/doctor-profile-img.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    justify-content: center;
}

.main-container {
    margin: 20px auto;
    width: 100%;
    max-width: 500px;
    background-color: rgba(240, 240, 240, 0.9);
    border-radius: 10px;
    padding: 10px;
}

.title{
    font-family: 'lato', sans-serif;
    font-size: 20px;
}
.mainTitles{
    font-family: 'lato', sans-serif;
    font-size: 13px;
}


