#footer {
    position: relative;
    padding: 10px;
    background-color: #3b4754;
    font-size: 18px;
    text-align: left;
    color: white;
    height: 120px;
    z-index: 10;
}

.footer-button {
    float: right;
    width: 30px;
    height: 30px;
    text-align: center;
    
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    font-size: 30px;
}

.footer-button:focus {
    outline: none;
}

.up-button {
    border-radius: 5px;
    display: flex;
    font-size: 30px;
    background-color: #98c4ea;
    
    color: black;
    justify-content: space-evenly;
}

.up-button div {
    margin: 0 auto;
}

.up-button:hover {
    background-color: #88c3ea;
}

#copyright-text {
    box-sizing: border-box;
    font-size: 15px;
    margin: 10px 0 0 0;
    width: 100%;
    color: white;
    
}

#contact-title {
    font-size: 24px;
    color: #DDDDDD;
}

@media (max-width: 340px) {
    #contact {
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    #copyright-text {
        font-size: 10px;
    }
}
