.homePage {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main-carousel {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

img {
    object-fit: cover;

}

#register-button {
    position: absolute;
    right: 30px;
    top: 10%;
    z-index: 1;
    width: 200px;
    height: 40px;  
    background-color: #ff3e30;
    text-transform: uppercase;
    border-radius: 25px;
    color: white;
    border: none;
}

@media (max-width: 700px) {
    #register-button {
        width: 120px;
        height: 20px;  
        font-size: 10px;
    }
}

#register-button:focus {
    outline: 0;
}

#welcome-title {
    font-family: 'Roboto', sans-serif;
}

#logo-text {
    color: #991111
}

#welcome-container {
    margin-top: 50px;
}

#logo, #blood-description {
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    height: auto;
    display: inline-block;
    padding: 20px;
}


p {
    box-sizing: border-box;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 20px;
    max-width: 100%;
}

.indent {
    margin-right: 5px;
    border-left: 5px solid #991111;
}

#register-button {
    text-decoration: none;
    align-content: center;
   
    padding: 5px;
    -webkit-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.75);
}
