.info-label {
    box-sizing: border-box;
    display: block;
    width: 100%;
    background-color: steelblue;
    border-radius: 0;
    padding: 10px;
    color: white;
    font-size: 18px;
    margin: 0;
}

.bags {
    background-color: transparent;
    color: black;
}

.tests-modal {
    width: 600px;
}

.selectLabel {
    margin: 5px;
    height: auto;
}

.selectLabel:focus {
    outline:none;
}

.selectLabel option {
    padding: 5px;
}

.selectLabel option:focus {
    background-color: steelblue;
}

.selectLabel::-webkit-scrollbar {
    width: 1em;
}

.selectLabel::-webkit-scrollbar-thumb {
    background-color: grey;
    outline: none;
}

#modal-medical-tests {
    width: 50%;
}